.particles {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of 71ac842... vracanje
>>>>>>> parent of 8ffd2f5... ccccc
}

.red{
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	

}

#login{
	background-color: transparent;
	width: 20%;
}

#registration{
	background-color: transparent;
}
<<<<<<< HEAD


=======
}
>>>>>>> parent of a282da6... version 1.1
=======
<<<<<<< HEAD
=======
}
>>>>>>> parent of a282da6... version 1.1
=======
}
>>>>>>> parent of a282da6... version 1.1
=======
>>>>>>> parent of 71ac842... vracanje
>>>>>>> parent of 8ffd2f5... ccccc
