#bc-reg{
		padding-top: 10vh;
	height:  70vh;
	width: auto;
	background-color: rgba(255, 203, 154, 0.7);
	display: flex;
	justify-content: center;
	margin-top: 10vh;

	/*border-radius: 10%;*/
	


	
}
#button{
	background-color: transparent;
	border: 2px solid #55BCC9;
	border-radius: 45%;
	color: #55BCC9;
	font-weight: bold;
	font-size: 20px;
	display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin: auto;
	
}
#button:hover {
	background-color: black;
	color: #168664;

}

/*#reg-info {
	display: flex;
	/*justify-content: center;*/
	/*align-items: center;
	/*height: 100vh;*/
	/*margin-left: 350px;*/
   /* margin-left: auto;
    padding-left: 750px;
}*/